header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 90px;
  background-color: #fff;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06);
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
}

.container-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  max-width: 1920px;
}

.logo-store {
  width: 40px;
  border-radius: 50%;
  height: 40px;
  display: flex;
}

.container-links {
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: #0f0f0f;
  transition: 0.3s;
}

.link:hover {
  color: rgb(88, 129, 153);
}

.active {
  border-bottom: 2px solid rgb(88, 129, 153);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  display: none;
  font-size: 20px;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width:600px) {
  header {
    padding: 10px 20px;
  }
}

@media only screen and (max-width:1020px) {
  header .nav-btn {
    display: flex;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    transform: translateY(-100vh);
    z-index: 10;
  }

  .container-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  header .responsive-nav {
    transform: none;
  }

  nav .nav-close-btn {
    position: absolute;
    top: 13px;
    right: 13px;
  }

  nav .link {
    font-size: 1.5rem;
  }
}